.BuySell__Container {
    align-items: center;
    justify-content: center;
    display: grid;
    padding: 40px 40px 40px 40px;
    grid-template-columns: auto auto auto;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}